repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: fix-encoding-pragma
      - id: mixed-line-ending
        types: [python]
      - id: double-quote-string-fixer
        types: [python]
      - id: flake8
        args: ["--max-line-length=120"]
  - repo: https://github.com/psf/black
    rev: 20.8b1 # Replace by any tag/version: https://github.com/psf/black/tags
    hooks:
    - id: black
      language_version: python3 # Should be a command that runs python3.6+

  - repo: https://github.com/ikamensh/flynt/
    rev: '0.55'
    hooks:
    -   id: flynt
        args: [
            '--line-length=120',
            '--fail-on-change',
      ]
  - repo: local
    hooks:

    - id: pylint
      name: pylint
      entry: pylint
      verbose: true
      types: [python]
      language: system
      exclude: '^(docs/)|(examples/)'

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'master'  # Use the sha / tag you want to point at
    hooks:
    -   id: mypy
