name: Testing

on: [push, pull_request]

jobs:
  build:

    strategy:
      max-parallel: 20
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.7","3.8","3.9","3.10"]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Build pymatgen with compatible numpy
      run: |
        python -m pip install --upgrade pip
        pip install numpy==1.21.4 wheel
        pip install pymatgen==2022.0.16 --no-cache-dir --no-build-isolation
    - name: Install dependencies
      run: |
        pip install --quiet -r requirements-ci.txt
        pip install masci-tools
        pip install --no-deps -e .
    - name: pytest
      run: |
        pytest
    - name: Upload code coverage report
      run: |
        pip install codecov
        codecov
